.git
.gitignore

__pycache__/
*.py[cod]

venv/
env/
*.egg-info

pip-log.txt
pip-delete-this-directory.txt

build/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
*.o
*.a
*.so
*.out
*.exe

*.log
*.tmp
*.swp

*.bin
*.dll

conda-meta/
pipenv/
